.login
{
    width: 300px;
    height: 350px;
    border:2px solid black;
    border-radius: 5px;
    /* comandos usados para centralizar a div */
    top:50%;
    position:absolute;
    left:50%;
    transform: translate(-50%,-50%);
    /* */
    box-sizing: border-box;
    padding: 68px 28px;
    
}
h1
{
    margin:0;
    text-align: center;
    
}
.login p,input
{
    margin: 0;
    margin-top:5px;
}
.login input
{
    width: 100%;
}

button
{
    margin-top: 10px;
    padding: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}